<h1>Add an album</h1>

<form action="<%= albums_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="">Album title:</label>
  <input type="text" name="album[title]">
  <br>
  <label for="">Year:</label>
  <input type="text" name="album[year]">
  <br>
  <label for="">Album type:</label>
  <input type="radio" <%= @album.studio == true ? "checked" : "" %> name="album[studio]" value="Studio"> Studio
  <input type="radio" <%= @album.studio == false ? "checked" : "" %> name="album[studio]" value="Live"> Live
  <br>
  <label for="">Band:</label>
    <select name="album[band_id]" id="name">
        <option value="disabled">Please select a band</option>
        <% @bands.each do |band| %>   
          <option value=<% band.id %> <%= @band_id == band.id.to_s ? "selected" : "" %> >
            <%= band.name %>
        </option>
        <% end %>
    </select>
  <br>

  <input type="submit" value="Submit">

</form>