<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  

  <body>
    <head>
    <% if logged_in? %>
    <%= current_user.email %>
    <div>
      <form class="form logout" action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    <% else %>
      <nav>
        <a class="auth_buttons signin" href="<%= new_session_url %>">Sign in</a>
        <a class="auth_buttons signup" href="<%= new_user_url %>">Sign up</a>
      </nav>
    <% end %>
    </head>
  <main>
    <%= yield %>
  </main>
  </body>
</html>
